<div class="search-div">
    <button mat-icon-button color="primary">
        <mat-icon class="pdf" [routerLink]="['create']">add_box</mat-icon>
    </button>
</div>
<mat-card>
    <div class="mat-elevation-z8" id="pdfTable" #pdfTable>
        <table class="table">
            <thead>
                <th>#</th>
                <th>RegNumber</th>
                <th>Name</th>
                <th>FathersName</th>
                <th>Session</th>
                <th>Program</th>
                <th>CGPA</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>ApplyDate</th>
                <th>TranIt</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>
            <tr *ngFor="let data of _mainCertificateList; index as i">
                <td>{{ i+1 }}</td>
                <td>{{data.regNumber}}</td>
                <td>{{data.name}}</td>
                <td>{{data.fathersName}}</td>
                <td>{{data.session}}</td>
                <td>{{data.program}}</td>
                <td>{{data.cgpa}}</td>
                <td>{{data.address}}</td>
                <td>{{data.mobile}}</td>
                <td>{{data.email}}</td>
                <td>{{data.applyDate | date:'d/M/y'}}</td>
                <td>{{data.tranIt}}</td>
                <td>{{data.status}}</td>
                <td>
                    <button mat-icon-button color="accent">
                        <mat-icon >insert_drive_file
                        </mat-icon>
                    </button>
                    <button mat-icon-button color="accent" [routerLink]="['update/',data.mainCertificateId]">
                        <mat-icon >edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteMainCertificate(data.mainCertificateId)">
                        <mat-icon >delete_forever</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</mat-card>